.container_payment {
  width: 90%;
  margin-left: 5%;
  .container_payment_top {
    width: 100%;
    height: 650px;
    background-color: #0984e3;
    position: relative;
    .container_payment_top_content {
      position: absolute;
      width: 80%;
      margin-left: 10%;
      bottom: 0px;
      height: 500px;
      display: flex;
      .container_payment_top_content_img {
        width: 50%;
        display: grid;
        place-items: center;
        img {
          width: 90%;
        }
      }
      .container_payment_top_content_option{
        width: 50%;
        margin-top: -5px;
        P{
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 700;
        }
        table{
            width: 100%;
            tr,td{
                height: 40px;
                span{
                    cursor: pointer;
                    padding: 1px 15px;
                    margin-right: 15px;
                    border: 1px solid #9999;
                    &:hover{
                    border: 1px solid #0984e3;

                    }
                }

            }
        }
      }
      .container_payment_top_content_choose{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
}

.accept{
  color: #fff;
  background-color: #0984e3;
}
