.container_narbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  .container_narbar_intro {
    width: 100%;
    height: 40px;
    transition: 0.5s all linear;
    overflow: hidden;
    background-color: black;
    .container_narbar_intro_1 {
      color: white;
      align-items: center;
      width: 75%;
      display: flex;
      justify-content: space-between;
      height: 40px;
      margin-left: 12.5%;
      .container_narbar_intro_1_contact {
        // transform: translateY(0px);
        i {
          transform: translateY(2px);

          padding-bottom: 0;
          font-size: 18px;
          &:hover {
            color: #0082e6;
            cursor: pointer;
          }
        }
        span {
          margin-left: 12px;
          align-items: center;
        }
      }
    }
  }
  .container_narbar_main {
    width: 100%;
    nav {
      background: #333333;
      height: 80px;
      width: 100%;
    }
    label.logo {
      color: white;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }
    nav ul {
      float: right;
      margin-right: 20px;
    }
    nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }

    nav ul li a {
      color: white;
      font-size: 17px;
      padding: 7px 13px;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      font-weight: 400;
      &:hover {
        color: #00a78e;
      }
      &::after {
        content: "";
        height: 3px;
        width: 0px;
        background: #00a78e;
        position: absolute;
        left: 0%;
        bottom: -5px;
        transition: 0.2s;
      }
      &:hover::after {
        width: 100%;
      }
    }

    @media (max-width: 952px) {
      label.logo {
        font-size: 30px;
        padding-left: 50px;
      }
      nav ul li a {
        font-size: 16px;
      }
    }
    @media (max-width: 858px) {
      .checkbtn {
        display: block;
      }
      ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
      }
      nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a {
        font-size: 20px;
      }
      a:hover,
      a.active {
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul {
        left: 0;
      }
    }
  }
}
